%header.navbar.navbar-header-transparent#main-nav{role: "navigation"}
  .navbar-left
    %a.navbar-brand.animated{href: "/"}
      = partial "includes/logos/wm_web.svg"
  .navbar-right
    = partial "includes/layout/nav"
  .mobile-icons
    %button.search-icon.js-search-toggle{ type: "button", "aria-label" => "Search" }
      %i.fas.fa-search
    %button.mobile-icon#mobile-icon
      .icon-bar
      .icon-bar
      .icon-bar
  .display-none.mobile-menu#mobile-menu
    %button.exit-icon-container#exit-icon
      %img.exit-icon{ src: "/images/icons/x.svg", alt: "Gitlab x icon svg" }
    = partial "includes/layout/nav"
  = partial "includes/layout/search"

%script{src: "/javascripts/mobile-menu.js", type: "text/javascript"}
%script{ src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript" }
